Node-RED flow.json
[{"id":"39e7fb01.01d444","type":"twitter in","z":"38b9df78.ce701","twitter":"","tags":"#indiafightscorona","user":"false","name":"","inputs":0,"x":90,"y":60,"wires":[["537e3e32.1fe36"]]},{"id":"8e8f027a.f5ff9","type":"function","z":"38b9df78.ce701","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":400,"wires":[["643239cb.444ee8","d1c7b6df.b88638","5bd169f9.d1acc8","413208d9.855628"]]},{"id":"5a485e5d.3b44a","type":"debug","z":"38b9df78.ce701","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":340,"wires":[]},{"id":"5808d4b.84c762c","type":"function","z":"38b9df78.ce701","name":"Positive","func":"msg.payload=\"0 to 1 or higher\"\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":540,"wires":[["2f00f4e2.610f2c"]]},{"id":"2f00f4e2.610f2c","type":"ui_text","z":"38b9df78.ce701","group":"571ca0d2.65e21","order":1,"width":0,"height":0,"name":"","label":"Positive","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":620,"wires":[]},{"id":"fceca1ac.dcadf","type":"function","z":"38b9df78.ce701","name":"Neutral","func":"msg.payload=\"0\";\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":620,"wires":[["fca6f953.2ad678"]]},{"id":"a9d9ccf4.c2071","type":"function","z":"38b9df78.ce701","name":"Negative","func":"msg.payload=\"-1 to 0\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":720,"wires":[["cb4dc73c.9a6268"]]},{"id":"fca6f953.2ad678","type":"ui_text","z":"38b9df78.ce701","group":"571ca0d2.65e21","order":2,"width":0,"height":0,"name":"","label":"Neutral","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":700,"wires":[]},{"id":"cb4dc73c.9a6268","type":"ui_text","z":"38b9df78.ce701","group":"571ca0d2.65e21","order":3,"width":0,"height":0,"name":"","label":"Negative","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":780,"wires":[]},{"id":"c02611ef.da427","type":"function","z":"38b9df78.ce701","name":"score","func":"var s=msg.sentiment.score;\nif(s>0)\n msg.payload=\"Positive =\"+\" \"+s;\nelse if(s<0)\n msg.payload=\"Negative =\"+\" \"+s;\nelse\n msg.payload=\"Neutral =\"+\" \"+s;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":460,"wires":[["b3011daa.d323f","6fc3c97d.c9eed8"]]},{"id":"643239cb.444ee8","type":"ui_gauge","z":"38b9df78.ce701","name":"compass","group":"3f758c58.c3f024","order":3,"width":"4","height":"4","gtype":"compass","title":"<img height=\"50\" width=\"50\" src=\"https://upload.wikimedia.org/wikipedia/commons/2/29/Compass_2_Flat_Icon_GIF_Animation.gif\"/>","label":"units","format":"{{value}}","min":"-1","max":"1","colors":["#fc0307","#fcad03","#139202"],"seg1":"-0.5","seg2":"0.5","x":860,"y":400,"wires":[]},{"id":"d1c7b6df.b88638","type":"ui_gauge","z":"38b9df78.ce701","name":"Donut","group":"3f758c58.c3f024","order":3,"width":"4","height":"4","gtype":"donut","title":"","label":"units","format":"{{value}}","min":"-1","max":"1","colors":["#fc0307","#fcad03","#139202"],"seg1":"-0.5","seg2":"0.5","x":950,"y":440,"wires":[]},{"id":"5bd169f9.d1acc8","type":"ui_gauge","z":"38b9df78.ce701","name":"Level","group":"48b60e71.a9ae","order":1,"width":"5","height":"5","gtype":"wave","title":"","label":"units","format":"{{value}}","min":"-2","max":"1","colors":["#fc0307","#fcad03","#139202"],"seg1":"","seg2":"","x":1130,"y":560,"wires":[]},{"id":"413208d9.855628","type":"ui_chart","z":"38b9df78.ce701","name":"chart","group":"7774ce01.f77ae","order":0,"width":"5","height":"8","label":"<img height=\"70\" width=\"140\" src=\"https://upload.wikimedia.org/wikipedia/commons/7/72/Erin_chart.svg\"/>","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":true,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":true,"useUTC":true,"colors":["#03385e","#18d9e7","#be5804","#025a02","#3c5f35","#e30202","#ff94f6","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1070,"y":500,"wires":[[]]},{"id":"36e7c658.d26c6a","type":"ui_text","z":"38b9df78.ce701","group":"571ca0d2.65e21","order":4,"width":"4","height":"6","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":630,"y":260,"wires":[]},{"id":"50a5fa4f.8f7854","type":"delay","z":"38b9df78.ce701","name":"delay_tweet","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":260,"wires":[["36e7c658.d26c6a"]]},{"id":"b3011daa.d323f","type":"ui_toast","z":"38b9df78.ce701","position":"top right","displayTime":"3","highlight":"transparent","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Sentiment","name":"","x":890,"y":560,"wires":[]},{"id":"537e3e32.1fe36","type":"mlsentiment","z":"38b9df78.ce701","name":"","property":"payload","lang":"en","x":170,"y":260,"wires":[["5a485e5d.3b44a","8e8f027a.f5ff9","c02611ef.da427","5808d4b.84c762c","fceca1ac.dcadf","a9d9ccf4.c2071","50a5fa4f.8f7854"]]},{"id":"6fc3c97d.c9eed8","type":"ui_text","z":"38b9df78.ce701","group":"358a2dae.8f8bf2","order":0,"width":0,"height":0,"name":"","label":"Sentiment value","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":500,"wires":[]},{"id":"3f1340fc.961b2","type":"ui_template","z":"38b9df78.ce701","group":"48b60e71.a9ae","name":"table_display","order":7,"width":"11","height":"6","format":"<style>\ntable.table-hover tr:hover {\n background:#00acee;\n } \n md-switch {\nposition: center; \nheight: 20px;\n}\nmd-switch .md-thumb {\n background-color: red;\n}\nmd-switch.md-checked .md-thumb {\n background-color: #00acee;\n}\n\nmd-switch.md-checked .md-bar {\n background-color: #00acee;\n}\n</style>\n<div class=\"scrollmenu\">\n<table cellpadding=\"1\" border=\"1\" id=\"table-4\" class=\"table-hover\" style=\"width: 100%; border-collapse: collapse; border: 2px solid black\">\n <thead>\n <tr>\n <th title=\"\" bgcolor=#00acee>Tweet</th>\n <th title=\"\" bgcolor=#00acee>Polarity</th>\n <th title=\"\" bgcolor=#00acee>Subjectivity</th>\n </tr>\n </thead>\n <tbody>\n <tr ng-repeat=\"row in msg.payload | limitTo:500\">\n <td><right>{{row.tweet}}</center></td>\n <td><center>{{row.polarityScore}}</center></td>\n <td><center>{{row.subjectivityScore}}</center></td>\n </tr>\n \n </tbody>\n</table>\n<script type=\"text/javascript\">\n window.onload = function() {\n document.getElementById(\"editable\").focus();\n };\n\n</script>\n<script>\n $('#table-4').keypress(function(e){\n if(e.which == 13 && !e.shiftKey){//Enter key pressed\n e.preventDefault();\n $(\"#lagre4\").click();\n //alert('Endringer lagret: Vent litt for nye beregninger, trykk ok');\n //alert(document.getElementById(\"table1\").rows[obj].innerText);\n }\n });\n</script>\n\n\n<script>\n(function($scope) {\n$scope.sendRow = function(obj) {\nvar tableCells = document.getElementById(\"table-4\").rows.item(obj).cells;\nvar cellsData = [];\nfor (var j = 0; j < tableCells.length; j++) {\n cellsData[j] = tableCells.item(j).innerText;\n cellsData[j] = cellsData[j].replace(\",\",\".\"); \n}\n$scope.send({ \"payload\": cellsData });\n};\n})(scope);\n</script>\n\n</div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":570,"y":120,"wires":[["82d4a5a3.393838"]]},{"id":"1af5d0e0.5a0d0f","type":"inject","z":"38b9df78.ce701","name":"load_array","topic":"","payload":"","payloadType":"num","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":370,"y":60,"wires":[["497f5ad9.ea30b4"]]},{"id":"497f5ad9.ea30b4","type":"function","z":"38b9df78.ce701","name":"array","func":"var myArray =[{ \"tweet\": \"#Katyayan #COVID19 #Covid_19 #COVID19India #CoronaVirusUpdates\", \"polarityScore\": \"0\", \"subjectvityScore\": \"0\"},\n \n                 { \"tweet\": \"#IndiaFightsCorona.Today India had completed the testing...\", \"polarityScore\": \"0\", \"subjectivityScore\": \"0\"},\n    \n                 { \"tweet\": \"Remember physical distancing is very important to fight Corona #PhysicalDistancing\", \"polarityScore\": \"0.26\", \"subjectivityScore\": \"0.571428571\"},\n \n                 { \"tweet\": \"Follow distancing norms in all public places to stay protected from #COVID19\", \"polarityScore\": \"0\", \"subjectivityScore\": \"0.066666667\"},\n                 \n                 { \"tweet\": \"#CoronaVirusUpdates: #COVID19 India Tracker (As on 15 July, 2020, 08:00 AM) Confirmed cases: 936,181\", \"polarityScore\": \"0.133333333\", \"subjectivityScore\": \"0.8\"},\n                \n                 { \"tweet\": \"The practice of YOGIC asanas aims at overcoming the limitations of the body#IndiaFightsCorona\", \"polarityScore\": \"0\", \"subjectivityScore\": \"0\"},\n\n                 { \"tweet\": \"The practice of YOGIC asanas aims at overcoming the limitations of the body#IndiaFightsCorona\", \"polarityScore\": \"0.0625\", \"subjectivityScore\": \"0.7\"},\n                \n                 { \"tweet\": \"ShelarAshish: Distribution of Ayush Kadha to residents of Ward no 101, Kadeshwari Bandra West, which will help them\", \"polarityScore\": \"0\", \"subjectivityScore\": \"0\"},\n                \n                 \n                 { \"tweet\": \"#IndiaFightsCorona:20,572 recoveries from #COVID19 in the last 24 hours, as on 15th July, 8 AM.\", \"polarityScore\": \"0\", \"subjectivityScore\": \"0.066666667\"},\n                \n                 \n                 { \"tweet\": \"#COVID19 recovery rate crosses 63% &amp; improves to 63.24% as on July15,2020\", \"polarityScore\": \"0\", \"subjectivityScore\": \"0\"},\n                \n                 \n                 { \"tweet\": \"Twitter was never my thing, but I am so caught up in other platforms that they have started to bore me\", \"polarityScore\": \"-0.125\", \"subjectivityScore\": \"0.375\"},\n                \n                 \n                 { \"tweet\": \"Food safety the utmost priority in our partner restaurants Get the best food delivered to your house with the best\", \"polarityScore\": \"1\", \"subjectivityScore\": \"0.3\"},\n                \n                 \n                 { \"tweet\": \"Hi All, this lockdown introduced me to kitchen and to Chinese web series ...what did lockdown introduced you to ? \", \"polarityScore\": \"0\", \"subjectivityScore\": \"0\"},\n                \n                 \n                 { \"tweet\": \"Immunity basic for protection against @CovidIndia !Basic requirements nutrients\", \"polarityScore\": \"0\", \"subjectivityScore\": \"0.125\"},\n                \n                 \n                 { \"tweet\": \"Our Day 111 of #feedingstrays in #Delhi Life's full and complete with furry love! Please look after stray animals\", \"polarityScore\": \"0.358333333 \", \"subjectivityScore\": \"0.516666667 \"},\n                \n                 \n                 { \"tweet\": \"animals and birds around you\", \"polarityScore\": \"0\", \"subjectivityScore\": \"0\"},\n                \n                 \n                 { \"tweet\": \"With due credits to cartoonist sharing as received\", \"polarityScore\": \"-0.125\", \"subjectivityScore\": \"0.375\"},\n\n                ];\nmsg.payload = myArray;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":120,"wires":[["3f1340fc.961b2"]]},{"id":"82d4a5a3.393838","type":"debug","z":"38b9df78.ce701","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":120,"wires":[]},{"id":"571ca0d2.65e21","type":"ui_group","z":"","name":"Tweets","tab":"8a2ae7de.43ab98","order":4,"disp":true,"width":"6","collapse":false},{"id":"3f758c58.c3f024","type":"ui_group","z":"","name":"Donut and Compass","tab":"8a2ae7de.43ab98","order":2,"disp":true,"width":"6","collapse":false},{"id":"48b60e71.a9ae","type":"ui_group","z":"","name":"Tweet Table","tab":"8a2ae7de.43ab98","order":5,"disp":true,"width":"11","collapse":false},{"id":"7774ce01.f77ae","type":"ui_group","z":"","name":"Line Chart","tab":"8a2ae7de.43ab98","order":3,"disp":true,"width":"6","collapse":false},{"id":"358a2dae.8f8bf2","type":"ui_group","z":"","name":"Sentiment Value","tab":"8a2ae7de.43ab98","order":1,"disp":true,"width":"6","collapse":false},{"id":"8a2ae7de.43ab98","type":"ui_tab","z":"","name":"Twitter Sentiment Analysis","icon":"wi-wu-sunny","order":1,"disabled":false,"hidden":false}]
